<h1>Cadastro do meu Carro</h1>

<form action="/meucarro/add" method="POST">
    <label for="modelo">modelo</label>
    <input type="text" id="nome" name="modelo" value="<%= user.modelo %>" required>

    <label for="ano">ano</label>
    <input type="number" id="ano" name="ano" value="<%= user.ano %>" required>

    <label for="cod_obd2">codigo OBD2</label>
    <input type="text" id="cod_obd2" name="cod_obd2" value="<%= user.cod_obd2 %>" required>

    <button type="submit">Salvar</button>
</form>

