<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Carro</title>
    <link rel="stylesheet" href="/css/MeuCarro.css">
</head>
<body>

   <%- include('../partials/navbar') %>

    <div class="container">
        <h1>Veículo Atual</h1>
        <h2><%= user.modelo %></h2>
        <p><%= user.ano %></p>
        <p>*descrição*</p>
        <p>Adicionar novo veículo</p>
        <a href="/meucarro/add">Conectar ao obd2</a>



    </div>
</body>
</html>