<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veltrix</title>
    <link rel="stylesheet" href="/public/css/estilo.css">
</head>
<body>
    
    <% include('partials/navbar') %>

    <div class="container">
        <h1>Bem-vindo ao Veltrix</h1>
        <p>Este é um projeto de exemplo usando Node.js, Express e EJS.</p><br>
        <p>Use os Botões do Menu para navegar entre as páginas.</p>
        <div class="row mt-4">
            <div class="col-md-3 mb-2">
                <a href="/usuario/" class="btn btn-primary w-100">Usuário</a>
            </div>
            <div class="col-md-3 mb-2">
                <a href="/views/MeuCarro/" class="btn btn-primary w-100">Meu Carro</a>
            </div>
            <div class="col-md-3 mb-2">
                <a href="/views/Monitoramento/" class="btn btn-primary w-100">Monitoramento</a>
            </div>
            <div class="col-md-3 mb-2">
                <a href="/views/Histórico/" class="btn btn-primary w-100">Histórico</a>
            </div>
        </div>
    </div>

    <% include('partials/footer') %>
    
</body>

<!--Bootstrap CSS-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<!--Seu CSS customizado-->
<link rel="stylesheet" href="/public/css/estilo.css">

<!--Bootstrap JS-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js
</html>