<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico</title>
    <link rel="stylesheet" href="/public/css/Histórico.css">
</head>
<body>

    <%- include('../partials/navbar') %>

    <div class="container">
        <h1>HISTÓRICO</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-2">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-body">
                        <h1 class="card-title">Última atualização:</h1>
                        <h5 class="card-title">Data:</h5>
                        <p class="card-text"><%= user.data %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>