<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico</title>
    <link rel="stylesheet" href="/public/css/Histórico.css">
</head>
<body>

    <%- include('../partials/navbar') %>

    <div class="container">
        <h1>HISTÓRICO</h1>
    </div>
</body>
</html>